/* 1. Use a more intuitive box-sizing model. */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
    padding: 0;
}

Body {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    background-color: black;
    color: white;
    min-height: 100vh;
    margin: 0;
}
.root {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    max-width: 30rem;
    padding-top: 3rem;
}
.Header h1 {
    padding-bottom: 1rem;
    font-size: 2rem;
}
.Header p {
    font-size: 1.125rem;
}
