/* 1. Use a more intuitive box-sizing model. */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
    padding: 0;
}

Body {
    /*align-items: center;*/
    background-color: black;
    color: white;
    margin: 0;
    padding:0;
    /* min-height:100vh; */
}
#root {
    display: flex;
    flex-direction:column;
    /* justify-content: center; */
    align-items: center;
    min-height:100vh;
    width:100%;
}
.Header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    max-width: 30rem;
    padding-top: 3rem;
}
.Header h1 {
    padding-bottom: 1rem;
    font-size: 2rem;
}
.Header p {
    font-size: 1.125rem;
    color:gray;
}
button{
    padding-left:6rem;
    padding-right:6rem;
    padding-top:1rem;
    padding-bottom:1rem;
    font-size:1rem;
    border-radius: 1rem;
    margin-top:2rem;
    min-width:5rem;
    border:red;
    color:white;
    line-height:1.75rem;
}
.Loose{
    background-color: red;
}
.Farewell{
    background-color:aqua;
}
.Win{
    background-color:green;
}
.languages{
    margin-top:2rem;
    cursor:pointer;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:center;
    /* align-items:center; */
    max-width:30rem;
}
.languages span{
    border: 1px solid gray;
    padding:0.5rem;
    padding-left:1rem;
    padding-right:1rem;
    border-radius:0.25rem;
}
.languages span:hover{
    background-color: gray;
}
.userword{
    margin-top:2rem;
    gap:1rem;
}
.userword span{
    display: inline-block;
    font-size:2rem;
    padding:1rem;
    background-color: rgb(23, 19, 19);
    border:black 3px solid;
    border-bottom:white 1px solid;
}